* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-size: 20px;
}
body {
  position: relative;
  display: flex;
}

.draw {
  position: relative;
  width: 33rem;
  height: 13rem;
}

.draw-wrapper {
  flex: 1;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.code-wrapper {
  flex: 1;
  padding: 1rem;
  overflow-y: hidden;
  position: relative;
}
.code {
  position: absolute;
  bottom: 0;
}
.code-player {
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  width: 10em;
  flex-wrap: wrap;
}
.code-player button {
  font-size: 1em;
  width: 4em;
  height: 1.5em;
  margin: 0.5em;
  /* padding: 0.2em; */
}
@media screen and (max-width:1000px){
  html {
    font-size: 16px;
  }
}

@media screen and (max-width:900px){
  html {
    font-size: 14px;
  }
}

@media screen and (max-width:800px){
  html {
    font-size: 12px;
  }
}

@media screen and (max-width:700px) {
  html {
    font-size: 14px;
  }
  body {
    flex-direction: column-reverse;
  }
  .code-player {
    font-size: 14px;
  }
}
@media screen and (max-width:600px) {
  html {
    font-size: 12px;
  }
}